registry=https://registry.npmmirror.com/
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
link-workspace-packages=true
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
loglevel=error
reporter=silent
